<div class="banner banner1">
</div>
<div class="banner banner2">
</div>
<div class="banner banner3">
</div>
<A NAME="message"></A>
<div class="message">
	<h1 id="title-message">Como o passar de uma borracha, o velho já foi apagado e tudo agora é novo!</h1>
	<div class="text-center">
		<h1> "Por isso, não desanimamos; pelo contrário, mesmo que o nosso homem exterior se corrompa,
		contudo, o nosso homem interior se renova de dia em dia.
		Porque a nossa leve e momentânea tribulação produz para nós eterno peso de glória, acima de toda comparação,
		não atentando nós nas coisas que se veem, mas nas que se não veem; porque as que se veem são temporais, e
		as que se não veem são eternas." </h1>
		<h2>2 Coríntios 4:16-18</h2>
	</div>
	<div class="mask">

	</div>
</div>
<A NAME="photos"></A>
<div class="photos">
	<%= image_tag "galery1.jpg", id: "galery1", class: "galery-photo" %>
	<%= image_tag "galery2.png", id: "galery2", class: "galery-photo" %>
	<%= image_tag "galery3.jpg", id: "galery3", class: "galery-photo" %>
	<%= image_tag "galery4.png", id: "galery4", class: "galery-photo" %>
	<%= image_tag "galery5.png", id: "galery5", class: "galery-photo" %>
	<%= image_tag "galery6.png", id: "galery6", class: "galery-photo" %>
	<%= image_tag "galery7.jpg", id: "galery7", class: "galery-photo" %>
	<%= image_tag "galery8.png", id: "galery8", class: "galery-photo" %>
	<%= image_tag "galery9.png", id: "galery9", class: "galery-photo" %>
	<%= image_tag "galery10.png", id: "galery10", class: "galery-photo" %>
	<%= image_tag "galery11.jpg", id: "galery11", class: "galery-photo" %>
	<%= image_tag "galery12.png", id: "galery12", class: "galery-photo" %>
	<%= image_tag "galery13.png", id: "galery13", class: "galery-photo" %>
</div>
<A NAME="songs"></A>
<div class="songs">
	<!-- Layer 1 -->
	<!--<div class="icon layer1" id="music1">
		<i class="fa fa-music"></i>
	</div>

	<div class="icon layer1" id="music2">
		<i class="fa fa-music"></i>
	</div>

	<div class="icon layer1" id="music3">
		<i class="fa fa-music"></i>
	</div>

	<div class="icon layer1" id="music4">
		<i class="fa fa-music"></i>
	</div>

	<div class="icon layer1" id="music5">
		<i class="fa fa-music"></i>
	</div>
	<div class="icon layer1" id="music6">
		<i class="fa fa-music"></i>
	</div>
	<div class="icon layer1" id="music7">
		<i class="fa fa-music"></i>
	</div>
	<div class="icon layer1" id="music8">
		<i class="fa fa-music"></i>
	</div>-->

	<!-- Layer 2 -->
	<!--<div class="icon layer2" id="play1">
		<i class="fa fa-music"></i>
	</div>

	<div class="icon layer2" id="play2">
		<i class="fa fa-music"></i>
	</div>

	<div class="icon layer2" id="play3">
		<i class="fa fa-music"></i>
	</div>

	<div class="icon layer2" id="play4">
		<i class="fa fa-music"></i>
	</div>
	<div class="icon layer2" id="play5">
		<i class="fa fa-music"></i>
	</div>
	<div class="icon layer2" id="play6">
		<i class="fa fa-music"></i>
	</div>
	<div class="icon layer2" id="play7">
		<i class="fa fa-music"></i>
	</div>-->

	<!-- Layer 3 -->
	<!--<div class="icon layer3" id="head1">
		<i class="fa fa-music"></i>
	</div>
	<div class="icon layer3" id="head2">
		<i class="fa fa-music"></i>
	</div>
	<div class="icon layer3" id="head3">
		<i class="fa fa-music"></i>
	</div>
	<div class="icon layer3" id="head4">
		<i class="fa fa-music"></i>
	</div>
	<div class="icon layer3" id="head5">
		<i class="fa fa-music"></i>
	</div>
	<div class="icon layer3" id="head6">
		<i class="fa fa-music"></i>
	</div>
	<div class="icon layer3" id="head7">
		<i class="fa fa-music"></i>
	</div>
	<div class="icon layer3" id="head8">
		<i class="fa fa-music"></i>
	</div>-->

	<h1>Músicas Disponíveis</h1>
	<div class="songs-control">
		<div class="song-file" id="song1">
			<h2>Lar</h2>
			<%= audio_tag("Lar.mp3", autoplay: false, controls: true, id: "audio1") %>
		</div>
		<div class="btn-show-lyric visible-xs" id="show-song1">
			Mostrar letra
		</div>
		<div class="song-file" id="song1">
			<h2>É porque Te amo</h2>
			<%= audio_tag("E_porque_Te_amo.mp3", autoplay: false, controls: true, id: "audio2") %>
		</div>
		<div class="btn-show-lyric visible-xs" id="show-song2">
			Mostrar letra
		</div>
		<div class="song-file" id="song1">
			<h2>Descansar</h2>
			<%= audio_tag("Descansar.mp3", autoplay: false, controls: true, id: "audio3") %>
		</div>
		<div class="btn-show-lyric visible-xs" id="show-song3">
			Mostrar letra
		</div>
		<div class="song-file" id="song1">
			<h2>A Tua graça basta</h2>
			<%= audio_tag("A_tua_graca_basta.mp3", autoplay: false, controls: true, id: "audio4") %>
		</div>
		<div class="btn-show-lyric visible-xs" id="show-song4">
			Mostrar letra
		</div>
		<div class="song-file" id="song1">
			<h2>Velho Jovem</h2>
			<%= audio_tag("VelhoJovem.mp3", autoplay: false, controls: true, id: "audio5") %>
		</div>
		<div class="btn-show-lyric visible-xs" id="show-song5">
			Mostrar letra
		</div>
		<div class="song-file" id="song1">
			<h2>Razão de viver</h2>
			<%= audio_tag("Razao_de_viver.mp3", autoplay: false, controls: true, id: "audio6") %>
		</div>
		<div class="btn-show-lyric visible-xs" id="show-song6">
			Mostrar letra
		</div>
	</div>
	<div class="lyrics" id="lyric1">
		<h1>Lar</h1>
		<p class="p-lyric">Há muito tempo eu já desisti</p>
		<p class="p-lyric">De andar sozinho pela estrada que me leva pro meu lar.</p>
		<p class="p-lyric">Pois é tão mais fácil andar com quem possa te segurar.</p>
		<br>
		<p class="p-lyric">Há pouco tempo eu já percebi</p>
		<p class="p-lyric">Que ser feliz é uma questão de caminhar junto a Ti.</p>
		<p class="p-lyric">Pois o que Tu tens é bem melhor que o que eu quero pra mim.</p>

		<br>
		<p class="p-lyric"><i>E hoje eu sei</i></p>
		<p class="p-lyric"><i>Que nada que eu posso construir aqui</i></p>
		<p class="p-lyric"><i>E nada que aqui eu possa conquistar</i></p>
		<p class="p-lyric"><i>Se compara ao meu verdadeiro lar!</i></p>
		<br>

		<p class="p-lyric">Há algum tempo eu já aprendi</p>
		<p class="p-lyric">Que aqui é apenas uma estrada que eu tenho a prosseguir.</p>
		<p class="p-lyric">E que no final dessa jornada eu Te encontrarei.</p>

		<br>
		<p class="p-lyric"><i>E hoje eu sei</i></p>
		<p class="p-lyric"><i>Que nada que eu posso construir aqui</i></p>
		<p class="p-lyric"><i>E nada que aqui eu possa conquistar</i></p>
		<p class="p-lyric"><i>Se compara ao meu verdadeiro lar!</i></p>
		<br>

	</div>
	<div class="lyrics" id="lyric2">
		<h1>É porque Te amo</h1>
		<p class="p-lyric">Meu Deus que me inspira a andar na retidão</p>
		<p class="p-lyric">Meu Deus mostra um caminho diferente, outra opção</p>
		<p class="p-lyric">Que não vai de encontro ao mal</p>
		<p class="p-lyric">Mas sim, à paz e ao objetivo divinal</p>
		<br>

		<p class="p-lyric">E eu vejo tantos que não se importam com o seu amor</p>
		<p class="p-lyric">Mas também sei, que não acreditar em Ti não faz com que Tu deixes de existir</p>
		<br>
		
		<p class="p-lyric"><i>E eu não Te adoro porque tenho medo</i></p>
		<p class="p-lyric"><i>Não Te adoro por causa de religião</i></p>
		<p class="p-lyric"><i>Não Te adoro porque quero ir pro céu</i></p>
		<p class="p-lyric"><i>Mas porque Te amo!</i></p>
		<br>

		<p class="p-lyric">Meu Deus me ama tanto que posso chamar de Pai</p>
		<p class="p-lyric">Não é apenas uma história e sei que um dia vai</p>
		<p class="p-lyric">Voltar pra me buscar</p>
		<p class="p-lyric">Então, contigo para sempre eu vou estar</p>
		<br>

		<p class="p-lyric">E eu vejo tantos que não se importam com o seu amor</p>
		<p class="p-lyric">Mas também sei, que não acreditar em Ti não faz com que Tu deixes de existir</p>
		<br>
		
		<p class="p-lyric"><i>E eu não Te adoro porque tenho medo</i></p>
		<p class="p-lyric"><i>Não Te adoro por causa de religião</i></p>
		<p class="p-lyric"><i>Não Te adoro porque quero ir pro céu</i></p>
		<p class="p-lyric"><i>Mas porque Te amo!</i></p>
		<br>
		<p class="p-lyric"><i>E eu não Te sigo porque tenho medo</i></p>
		<p class="p-lyric"><i>Eu não Te sigo por causa de religião</i></p>
		<p class="p-lyric"><i>Eu não Te sigo porque quero ir pro céu</i></p>
		<p class="p-lyric"><i>Mas porque Te amo!</i></p>
		<br>

		
	</div>
	<div class="lyrics" id="lyric3">
		<h1>Descansar</h1>
		<p class="p-lyric">Tu és o Autor da fé e tudo podes fazer</p>
		<p class="p-lyric">Até o impossível, pois tudo é possível ao que crê</p>
		<p class="p-lyric">Curar os enfermos, mover as montanhas, Tu tens o poder que me fez renascer</p>
		<p class="p-lyric">Controla o universo, acalma o mar, me livra de tudo que vem me acertar</p>
		<br>
		
		<p class="p-lyric"><i>Se a tempestade vem e tudo vier a balançar</i></p>
		<p class="p-lyric"><i>E aparentemente o barco possa naufragar</i></p>
		<p class="p-lyric"><i>Se o meu Jesus está ali, não tenho nada a temer</i></p>
		<p class="p-lyric"><i>Confiando plenamente nEle eu posso descansar!</i></p>
		<br>

		<p class="p-lyric">És o Restaurador, que fez o que era morto reviver</p>
		<p class="p-lyric">Pois só Tu És Deus, e dá a vida a todo o que crê</p>
		<p class="p-lyric">Pois ressucitaste e vivo está à destra de Deus e jamais sairá</p>
		<p class="p-lyric">E o Filho que pode nos livrar do mal é o que guiará ao seu reino eternal</p>
		<br>

		<p class="p-lyric"><i>Se a tempestade vem e tudo vier a balançar</i></p>
		<p class="p-lyric"><i>E aparentemente o barco possa naufragar</i></p>
		<p class="p-lyric"><i>Se o meu Jesus está ali, não tenho nada a temer</i></p>
		<p class="p-lyric"><i>Confiando plenamente nEle eu posso descansar!</i></p>
		<br>
	</div>
	<div class="lyrics" id="lyric4">
		<h1>A Tua graça basta</h1>
		<p class="p-lyric">Tu és o Deus, o Criador de tudo</p>
		<p class="p-lyric">Tu és o Deus que move o mundo inteiro</p>
		<p class="p-lyric">Tu és Aquele a quem um dia todos se prostrarão.</p>
		<p class="p-lyric">Tu és o Deus que simplesmente existe</p>
		<p class="p-lyric">Opera em nós da forma que Tu queres</p>
		<p class="p-lyric">E com Teu sangue trouxe salvação aonde só restava perdição.</p>
		<br>

		<p class="p-lyric">E tudo que um dia eu poderia ter e obter pelas minhas próprias mãos</p>
		<p class="p-lyric">Não se compara ao que o Senhor já fez por mim.</p>
		<br>

		<p class="p-lyric"><i>Porque eu sei que a Tua graça basta</i></p>
		<p class="p-lyric"><i>E não existe algo que desfaça o sacrifício selado lá na cruz</i></p>
		<p class="p-lyric"><i>E sempre reinará o Eterno Rei Jesus</i></p>
		<p class="p-lyric"><i>E também sei que o Deus de toda terra</i></p>
		<p class="p-lyric"><i>Já preparou aquilo que me espera</i></p>
		<p class="p-lyric"><i>Eternamente brilha a sua luz e sempre reinará o Eterno Rei Jesus</i></p>
		<br>

		<p class="p-lyric">Tu és o Deus que simplesmente existe</p>
		<p class="p-lyric">Opera em nós da forma que Tu queres</p>
		<p class="p-lyric">E com Teu sangue trouxe salvação aonde só restava perdição.</p>
		<br>

		<p class="p-lyric">E tudo que um dia eu poderia ter e obter pelas minhas próprias mãos</p>
		<p class="p-lyric">Não se compara ao que o Senhor já fez por mim.</p>
		<br>

		<p class="p-lyric"><i>Porque eu sei que a Tua graça basta</i></p>
		<p class="p-lyric"><i>E não existe algo que desfaça o sacrifício selado lá na cruz</i></p>
		<p class="p-lyric"><i>E sempre reinará o Eterno Rei Jesus</i></p>
		<p class="p-lyric"><i>E também sei que o Deus de toda terra</i></p>
		<p class="p-lyric"><i>Já preparou aquilo que me espera</i></p>
		<p class="p-lyric"><i>Eternamente brilha a sua luz e sempre reinará o Eterno Rei Jesus</i></p>
		<br>


	</div>
	<div class="lyrics" id="lyric5">
		<h1>Velho Jovem</h1>
		<p class="p-lyric">Velho Jovem sou, ja passei por algumas coisas nessa vida que passa devagar.</p>
		<p class="p-lyric">Descobri que nada sei e as certezas que eu tinha hoje são apenas arrogância.</p>
		<p class="p-lyric">Velho jovem sou, já vivi alguns bons momentos nessa vida que passa tão depressa.</p>
		<p class="p-lyric">Me pergunto se há algum jeito de fazer o que é bom durar eternamente.</p>
		<br>
		<p class="p-lyric"><i>Porque eu procuro</i></p>
		<p class="p-lyric"><i>Mas nada encontro</i></p>
		<p class="p-lyric"><i>Quando minha busca da alegria é só aqui</i></p>
		<p class="p-lyric"><i>Então vislumbro</i></p>
		<p class="p-lyric"><i>Por fim percebo</i></p>
		<p class="p-lyric"><i>Que a felicidade da vida está em Ti</i></p>
		<br>
		<p class="p-lyric">Velho jovem sou, observo como a vida é injusta e o bem nem sempre vence o mal.</p>
		<p class="p-lyric">Mas eu tenho fé de que um dia tudo acabará e o mal não mais existirá.</p>
		<br>
		<p class="p-lyric"><i>Porque eu procuro</i></p>
		<p class="p-lyric"><i>Mas nada encontro</i></p>
		<p class="p-lyric"><i>Quando minha busca da alegria é só aqui</i></p>
		<p class="p-lyric"><i>Então vislumbro</i></p>
		<p class="p-lyric"><i>Por fim percebo</i></p>
		<p class="p-lyric"><i>Que a felicidade da vida está em Ti</i></p>
		<br>
	</div>
	<div class="lyrics" id="lyric6">
		<h1>Razão de viver</h1>
		<p class="p-lyric">De que adianta ter o mundo inteiro e ainda assim não ser feliz?</p>
		<p class="p-lyric">Felicidade não se acha em prata ou ouro mas naquilo que o Mestre diz</p>
		<p class="p-lyric">E tantas vezes busco tanta coisa que no fim de tudo é vaidade</p>
		<p class="p-lyric">Mas eu me lembro do meu Criador nos dias da minha mocidade</p>
		<br>

		<p class="p-lyric">Que adianta ir atrás do vento se um dia tudo acabará?</p>
		<p class="p-lyric">E tudo que eu adquirir aqui perecerá.</p>
		<br>

		<p class="p-lyric"><i>Mas eu me encontro em Teu amor</i></p>
		<p class="p-lyric"><i>És o motivo de todo o meu louvor</i></p>
		<p class="p-lyric"><i>És meu refúgio, minha proteção</i></p>
		<p class="p-lyric"><i>Tu és o Único que pode me dar a razão de viver.</i></p>
		<br>

		<p class="p-lyric">De que adianta ter o mundo inteiro e ainda assim não ser feliz?</p>
		<p class="p-lyric">Felicidade não se acha em prata ou ouro mas naquilo que o Mestre diz</p>
		<p class="p-lyric">E tantas vezes busco tanta coisa que no fim de tudo é vaidade</p>
		<p class="p-lyric">Mas eu me lembro do meu Criador nos dias da minha mocidade</p>
		<br>

		<p class="p-lyric">Que adianta ir atrás do vento se um dia tudo acabará?</p>
		<p class="p-lyric">E tudo que eu adquirir aqui perecerá.</p>
		<br>

		<p class="p-lyric"><i>Mas eu me encontro em Teu amor</i></p>
		<p class="p-lyric"><i>És o motivo de todo o meu louvor</i></p>
		<p class="p-lyric"><i>És meu refúgio, minha proteção</i></p>
		<p class="p-lyric"><i>Tu és o Único que pode me dar a razão de viver.</i></p>
	</div>
</div>
<A NAME="videos"></A>
<div class="videos">
	<h1>Vídeos</h1>

	<div class="container-videos">
		<div class="row">
			<div class="col-md-6">
				<iframe width="100%" height="390" src="https://www.youtube.com/embed/lKwRWfEnxQE" allowfullscreen>
				</iframe>
			</div>
			<div class="col-md-6">
				<iframe width="100%" height="390" src="https://www.youtube.com/embed/fcnhMewLUuI" allowfullscreen>
				</iframe>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<iframe width="100%" height="390" src="https://www.youtube.com/embed/pqR0i2FLMdA" allowfullscreen>
				</iframe>
			</div>
			<div class="col-md-6">
				<iframe width="100%" height="390" src="https://www.youtube.com/embed/k65Rk_IqY4w" allowfullscreen>
				</iframe>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<iframe width="100%" height="390" src="https://www.youtube.com/embed/5cJbcx1-C7g" allowfullscreen>
				</iframe>
			</div>
			<div class="col-md-6">
				<iframe width="100%" height="390" src="https://www.youtube.com/embed/r1FKGSskC8g" allowfullscreen>
				</iframe>
			</div>
		</div>
	</div>
	
</div>
<A NAME="schedule"></A>
<div class="schedule">
	<h1>Agenda:</h1>

	<div class="date">
		<i class="fa fa-calendar"></i><br><br>
		<div class="date-text"> 17 de Fevereiro de 2019</div><br><br>
		<i class="fa fa-chevron-down" id="chevron-down"></i>
		
		<h3 class="place">Igreja Presbiteriana Betel - Conselheiro Lafaiete - MG</h3>
	
	</div>

	<div class="date">
		<i class="fa fa-calendar"></i><br><br>
		<div class="date-text"> 24 de Fevereiro de 2019</div><br><br>
		<i class="fa fa-chevron-down" id="chevron-down"></i>
		
		<h3 class="place">Igreja Presbiteriana Betel - Conselheiro Lafaiete - MG</h3>
	
	</div>

	<div class="date">
		<i class="fa fa-calendar"></i><br><br>
		<div class="date-text"> 10 de Março de 2019</div><br><br>
		<i class="fa fa-chevron-down" id="chevron-down"></i>
		
		<h3 class="place">Acampamento de Carnaval - FMI</h3>
	
	</div>
</div>
<A NAME="contact"></A>
<div class="contact">
	<h1>Envie uma mensagem:</h1>
	<div class="form-contact">
		<%= form_tag(send_email_path method: :post) do %>
			
			<h3>Digite o seu nome:</h3>
				 <input type="text" name="first_name"><br>

			<h3>Digite o seu email para entrarmos em contato:</h3>
				 <%= email_field_tag :email %><br>
			
			<h3>Se você quiser, digite seu telefone (Com DDD):</h3>
				<input type="text" name="tel"><br>
			
			<h3>Digite o assunto da sua mensagem:</h3>
				 <input type="text" name="subject"><br>

			<h3>Escreva a sua mensagem:</h3>
				<%= text_area_tag :comment %><br><br><br>

				<%= submit_tag "Enviar Mensagem", id: "btn-send-email" %>
		<% end %>
	</div>
</div>

